* {
  font-family: "Poppins", sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar{
    display: none;
}

/* styles for mobile screen bottom tabs */
.css-8p75qc-MuiTabs-root,.css-u438lk-MuiTabs-root {
  width: 100%;
}
.css-heg063-MuiTabs-flexContainer,.css-k008qs {
  justify-content: space-evenly;
}

/* styles for product list table */
.css-lof2az{
    width: 95% !important;
    margin-inline: auto !important;
}
.css-t5z10y-MuiPaper-root-MuiTableContainer-root{
    border:1px solid #d2dbdd;
}